.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: #ff5722;
  gap: 10px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.table {
  display: grid;
  grid-template-areas: 
    "header header header header"
    "data data data data";
}

.table-header {
  grid-area: header;
  display: flex;
  justify-content: space-evenly;
}

.table-data {
  grid-area: data;
  height: 90vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.table-data>div>div {
  max-width: 15%;
  gap: 10px;
  overflow-wrap: break-word;
}

.table-data>div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}